# How to compute odd ratio with Python?

In [53]:
import numpy as np

from patsy import dmatrix , build_design_matrices
import statsmodels.api as sm
import statsmodels.formula.api as smf

## 2nd Method : Logistic Regression

In [22]:
from sklearn.linear_model import LogisticRegression
df=pd.get_dummies(df,drop_first=True)
clf = LogisticRegression(penalty='none')
clf.fit(df[['c_m']],df[['l']].values)
odds_ratio=np.exp(clf.coef_)

/Users/sophiayazzourh/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [23]:
df

   l  c_m
0  1    1
1  1    1
2  1    1
3  0    1
4  0    0
5  0    0
6  0    0
7  1    0

In [26]:
clf.intercept_

array([-1.09862055])

In [24]:
clf.coef_

array([[2.19727007]])

In [25]:
df

   l  c_m
0  1    1
1  1    1
2  1    1
3  0    1
4  0    0
5  0    0
6  0    0
7  1    0

In [30]:
odds_ratio

array([[9.0004094]])

## 3rd Method

In [31]:
odds_of_yis_1_for_female = np.exp(clf.intercept_+clf.coef_*1) #logit for female
odds_of_yis_1_for_male = np.exp(clf.intercept_+clf.coef_*0) # logit for male
odds_ratio_2 = odds_of_yis_1_for_female/odds_of_yis_1_for_male
print(odds_ratio_2)

[[9.0004094]]

In [32]:
odds_of_yis_1_for_female

array([[3.00011167]])

In [33]:
odds_of_yis_1_for_male

array([[0.33333058]])

= >> ATTENTION AU MULTIVARIEE

# ON APPLIQUE  Sur les données

In [184]:
np.percentile(data['Fibrinogène rdb'],20)

1.67

In [185]:
np.percentile(data['Fibrinogène rdb'],40)

1.9060000000000001

In [186]:
np.percentile(data['Fibrinogène rdb'],60)

2.18

In [187]:
np.percentile(data['Fibrinogène rdb'],80)

2.5160000000000013

In [188]:
## Data
data = pd.read_excel("./Base_PBM_Facteurs_Confusion.xlsx")
### Data cleaning 
data["transfusion CG"][np.where(data["transfusion CG"] > 0)[0]] = 1
data.dropna(inplace=True)
data.set_index(np.arange(len(data)))
print(len(data))
data.head()

## Spline
## Cubic spline (B_Spline) process on fibrinogene rdb
transformed_fibri = dmatrix("bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)", {"train": data['Fibrinogène rdb']},return_type='dataframe')
Facteurs_Confusion_Spline = pd.concat([data.copy(),transformed_fibri], axis = 1)

## Supp no-needed columns
del Facteurs_Confusion_Spline['fibrinogene']
del Facteurs_Confusion_Spline['transfusion CG']
del Facteurs_Confusion_Spline['Fibrinogène rdb']
del Facteurs_Confusion_Spline['Intercept']
X = Facteurs_Confusion_Spline
y = data["transfusion CG"]
## Model 
from sklearn.linear_model import LogisticRegression
logitS = LogisticRegression().fit(X,y)

435

<ipython-input-188-9fce1085c688>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["transfusion CG"][np.where(data["transfusion CG"] > 0)[0]] = 1
/Users/sophiayazzourh/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [189]:
### Récupération des coeff

In [190]:
logitS.coef_

array([[ 3.55865611e-02, -6.88908897e-02,  4.35962516e-01,
         1.61937057e-01,  5.28318411e-01, -2.69173961e-01,
         3.84524491e-01, -1.01964723e-01, -4.68043562e-01,
         3.06177146e-02,  7.26788861e-01,  1.45385271e-01,
         3.14549504e-01,  6.48768457e-02, -3.91128608e-01,
         1.69408500e-04,  1.30402370e-02,  2.66492132e-01,
         2.90373532e-01,  3.57505757e-01,  2.37275516e-01,
        -4.48340705e-01, -3.10857558e-01, -1.44736845e-01,
         6.44270706e-02,  1.54802584e-01]])

In [191]:
logitS.intercept_

array([0.17914284])

In [192]:
len(logitS.coef_[0]) == len(X.columns)

True

In [193]:
X.columns

Index(['age', 'poids', 'taille', 'imc', 'redux', 'hta', 'diabete', 'avk',
       'aod', 'plavix', 'kardegic', 'autres aap', 'betabloquant',
       'diuretiques', 'hb', 'ferritinemie', 'coeff de sat',
       'type intervention', 'duree rea',
       'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[0]',
       'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[1]',
       'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[2]',
       'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[3]',
       'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[4]',
       'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[5]',
       'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[6]'],
      dtype='object')

In [194]:
data['Fibrinogène rdb'].describe()

count    435.000000
mean       2.133080
std        0.614638
min        0.850000
25%        1.740000
50%        2.030000
75%        2.430000
max        4.700000
Name: Fibrinogène rdb, dtype: float64

In [195]:
(0.85 + 1.5)/2

1.175

In [196]:
(4.7 + 3)/2

3.85

In [197]:
data['Fibrinogène rdb']

0      2.27
1      1.30
2      2.43
3      1.78
4      3.23
       ...
468    1.43
470    2.06
471    1.57
473    1.99
474    3.03
Name: Fibrinogène rdb, Length: 435, dtype: float64

In [198]:
{"train": data['Fibrinogène rdb']}

{'train': 0      2.27
 1      1.30
 2      2.43
 3      1.78
 4      3.23
        ...
 468    1.43
 470    2.06
 471    1.57
 473    1.99
 474    3.03
 Name: Fibrinogène rdb, Length: 435, dtype: float64}

In [199]:
middle_classes = pd.DataFrame([1.18 , 1.75 , 2.25, 2.75, 3.85], columns = ['mid'])
{"train": middle_classes['mid'] }

{'train': 0    1.18
 1    1.75
 2    2.25
 3    2.75
 4    3.85
 Name: mid, dtype: float64}

In [200]:
#### Quel classes choisir? 
### Elles sont forcément liées au taux de fibrinogène 
### On reprends celle de l'article czr elles sont basées sur des connaissances métier 
### Nos classes sont donc : 
# inférieur à 1.5 , 1.5-2 , 2-2.5, 2.5-3, supérieur à 3
### On calcul l'odd de chaque classe à partir du mileu de chaque classe 
### Milieu de classes : 1.18 , 1.75 , 2.25, 2.75, 3.85 
### On doit récupérer les valeurs des coefficients des splines en ces points 
middle_classes = pd.DataFrame([1.18 , 1.75 , 2.25, 2.75, 3.85], columns = ['mid'])
new_data = {"train": middle_classes['mid'] }
build = build_design_matrices([transformed_fibri.design_info], new_data)[0]
bspline_val = np.asarray(build)

In [201]:
build

DesignMatrix with shape (5, 8)
  Columns:
    ['Intercept',
     'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[0]',
     'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[1]',
     'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[2]',
     'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[3]',
     'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[4]',
     'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[5]',
     'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)[6]']
  Terms:
    'Intercept' (column 0)
    'bs(train, knots=(1.67, 1.9, 2.18, 2.51), degree=3, include_intercept=False)' (columns 1:8)
  (to view full data, use np.asarray(this_obj))

In [202]:
bspline_val.shape

(5, 8)

In [203]:
bspline_val[0]

array([1.        , 0.49783289, 0.2574081 , 0.03138246, 0.        ,
       0.        , 0.        , 0.        ])

In [204]:
np.sum(bspline_val[1])

2.0000000000000004

In [205]:
np.sum(bspline_val[2])

2.0

In [206]:
np.sum(bspline_val[3])

2.0

In [207]:
np.sum(bspline_val[4])

2.0

In [208]:
odd_class1 = np.exp(np.sum(bspline_val[0]))
print(odd_class1)
odd_class2 = np.exp(np.sum(bspline_val[1]))
print(odd_class2)
odd_class3 = np.exp(np.sum(bspline_val[2]))
print(odd_class3)
odd_class4 = np.exp(np.sum(bspline_val[3]))
print(odd_class4)
odd_class5 = np.exp(np.sum(bspline_val[4]))
print(odd_class5)

5.969262902947406
7.389056098930653
7.38905609893065
7.38905609893065
7.38905609893065

In [209]:
odds_of_yis_1_for_female = np.exp(clf.intercept_+clf.coef_*1) #logit for female
odds_of_yis_1_for_male = np.exp(clf.intercept_+clf.coef_*0) # logit for male
odds_ratio_2 = odds_of_yis_1_for_female/odds_of_yis_1_for_male
print(odds_ratio_2)

[[9.0004094]]